.blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="") one
      li
        a(href="") two
      li
        a(href="") three
      li
        a(href="") four
      li
        a(href="") five
      
      
    .blog-column-right
      a(href="/article").layui-btn 发表文章